body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-image: url(/beachshowcase.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
h1 {
  color: #926239;
  font-size: 44pt;
  font-weight: 2%;
  margin: 5px;
}
.image > p {
  color: #926239;
  font-size: 16pt;
  margin: 2px;
}
button {
  color: #926239;
  border: 1px solid #926239;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  font-size: 14pt;
  margin-top: 20px;
}
button:hover {
  background-color: #926239;
  color: white;
}
